@media only screen and (max-width: 600px )   {  

.redup {
  width: 20px;
  height: 100 px;
  border: 0px  solid #000000;
}

.rotate span {
  font-size: 5rem;
  color:black;
  display: inline-flex;
  animation: rotate 2s infinite;    
}

h1 {
  font-size: 2rem;
} 

.bikinbubut {
  width: 420px;
  height: 400px;
  border: 0px  solid #000000;;
}

}
 