h1::before {  
	transform: scaleX(0);
	transform-origin: bottom right;
} 

h1:hover::before {
	transform: scaleX(1);
	transform-origin: bottom left;
}

h1::before {
	content: " ";
	display: block;
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	inset: 0 0 0 0;
	background: hsl(200 100% 80%);
	z-index: -1;
	transition: transform .3s ease;
} 

h1 {
	position: relative;
	font-size: 5rem;
} 

html {
	block-size: 100%;
	inline-size: 100%;
}

.ccsticky-nav {
  width: 100%;
  height: 60px; 
  position: fixed; 
  top: 0;
  background: #139ed8;
}  

.ccsticky-nav ul {
  padding: 20px;
  margin: 0 auto;
  list-style: none;
  text-align: center;
}  

.ccsticky-nav ul li {
  display: inline-block;
  margin: 0 10px;
}   

.ccsticky-nav ul li a {
  padding: 10px 0;
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.2s ease;
} 

.ccsticky-nav ul li a:hover {
  color: #34495E;
} 

.banner {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: minmax(30vh, 1fr) minmax(30vh, 1fr);
  grid-gap: 1rem;
}

.promo:first-child {
  grid-column: 1 / 2;
  grid-row: span 2;
}

.promo:nth-child(2) {
  grid-column: 2 / 4;
}

.promo {
  background-image: url(https://cdn.corporatefinanceinstitute.com/assets/Industry-1024x576.jpeg);
  background-size: cover;
  background-color: lightgrey;
  background-blend-mode: overlay;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
  padding: 1rem;
}

  /* teks berputar */
.rotate span {
  font-size: 5rem;
  color:black;
  display: inline-flex;
  animation: rotate 2s infinite;
}
@keyframes rotate {
  0%,
  75% {
    transform: rotateY(360deg);
  }
}

.nine span:nth-of-type(1) {
  animation-delay: 0.2s;
}

.nine span:nth-of-type(2) {
  animation-delay: 0.4s;
}

.nine span:nth-of-type(3) {
  animation-delay: 0.6s;
}

.nine span:nth-of-type(4) {
  animation-delay: 0.8s;
}

.nine span:nth-of-type(5) {
animation-delay: 1s;
}

.nine span:nth-of-type(6) {
  animation-delay: 1.2s;
}

.nine span:nth-of-type(6) {
  animation-delay: 1.4s;
}

.redup {
  opacity: 50%;
}

.redup:hover {
  opacity: 100%;
  transition: opacity 1s;
}

.redup {
  width: 500px;
  height: 500px;
  border: 0px  solid #000000;;
}

.bikinbubut {
  width: 900px;
  height: 400px;
}

.bikinbubut{
  cursor: pointer;
}

.square-list {
  list-style-type: circle;
}

img {
  width: 75%; /* 50% dari lebar elemen yang mengandung gambar */
  height: auto; /* Tinggi disesuaikan secara otomatis untuk mempertahankan aspek gambar */
}

.mesin-produksi {
  margin-right: 60px;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}
  
img {
  width: 100%;
};

h2 {
  text-shadow: 2px 2px 5px rgb(177, 87, 45);
}

body {
  background-image: url('latarbelakang.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100 vh;
  width:auto;
}

@font-face {
  font-family: "chunk-five";
  src: url('ChunkFive-Regular.otf') format('opentype');
}

h1 {
  font-family: "chunk-five", Arial;
  text-align: center;
  text-shadow: 2px 2px #098d54;
}

h2 {
  text-shadow: 2px 2px 5px rgb(56, 177, 45);
  text-align: center;
}

.square-list {
  text-shadow: 2px 2px 5px rgb(45, 177, 63);
}

